<app-menu></app-menu>
<div class="content-wrapper">
  <div class="container-fluid">
    <p class="bg-success alert-totem">Esperando cliente</p>
    <!-- <p class="bg-danger alert-totem">Llamada en curso</p>
    <p class="bg-danger alert-totem">Detenido</p> -->

    <div class="row">
    <div class="col-lg-4">

      <div class="card mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-list"></i>
            </div>
            <div class="mr-5">{{clients.length}} Personas en espera</div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bell-o"></i> Atendiendo a...</div>
        <div class="list-group list-group-flush small">
            <p><b>CURP:</b> {{client.crup}}</p>
            <p><b>ENTIDAD:</b> Distrito Federal</p>
            <p><b>ESTADO:</b> {{client.type}}</p>
        </div>
      </div>
    </div>
      <div class="col-lg-8 controls">
        <h1 class="cronometro">00:00</h1>
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-white bg-success bottons o-hidden h-100">
                <div class="card-body" (click)="empezar()">
                  <div class="card-body-icon">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="mr-5">Empezar</div>
                </div>
              </div>
            </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                  <div class="card text-white bg-danger  bottons o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fas fa-stop"></i>
                      </div>
                      <div class="mr-5">Detener</div>
                    </div>
                  </div>
                </div>
                    <div class="col-xl-4 col-sm-6 mb-3">
                      <div class="card text-white bg-warning bottons o-hidden h-100">
                        <div class="card-body">
                          <div class="card-body-icon">
                            <i class="fas fa-power-off"></i>
                          </div>
                          <div class="mr-5">Finalizar</div>
                        </div>
                      </div>
                    </div>
        </div>
        <div>
          <button (click)="agentLogOut()">Desconectar</button>
        </div>
      </div>
    </div>

  </div>
</div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Your Website 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
